# Ignore node_modules
node_modules/

# Ignore environment files
.env

# Optional: Ignore log files
*.log
npm-debug.log*

# Optional: Ignore other system files
.DS_Store
Thumbs.db

# Optional: Ignore build artifacts
dist/
build/
